<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example.com</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../javascript/home.js" type="module" defer></script>
</head>
<body>
    <nav>
        <a href="./signup.html">signUp</a>
        <a href="./login.html">login</a>
    </nav>
    <br>
    <main>
        <header>
            <section>
                <h1>Welcome to our dashboard</h1>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus deserunt minima maxime officiis recusandae a odio hic, quasi eum earum eligendi molestiae id aperiam quo ducimus ab! Eaque expedita voluptatem molestiae sequi maxime enim! Nisi, facilis quis soluta odio earum minus voluptates velit dolores laudantium nobis exercitationem consequuntur ab? Dicta?</p>
                <br>
                <span class="logged-in-user-email">You are not signed into this page, <a href="./signup.html">click here to create new account</a></span>
                <br>
            </section>
            <div></div>
        </header>
    </main>
</body>
</html>